<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main.html}">
<div layout:fragment="mainFragment">
  <div class="card px-3 py-3 my-3 ms-2">

    <h4>Find cars by:</h4>

    <!-- форма для поиска (фильтра) машин по критериям (параметрам) -->
    <form method="get" class="d-flex" th:action="@{'/cars'}">
      <div class="form-floating me-3">
        <input type="text" class="form-control" id="car_name" name="car_name" placeholder="car_name" th:value="${param.car_name}">
        <label for="car_name">Name (Brand)</label>
      </div>
      <div class="form-floating me-3">
        <input type="number" class="form-control" id="min_year" name="min_year" placeholder="min_year" th:value="${param.min_year}">
        <label for="min_year">Minimal year of manufacture</label>
      </div>
      <div class="form-floating me-3">
        <input type="number" class="form-control" id="max_price" name="max_price" placeholder="max_price" th:value="${param.max_price}">
        <label for="max_price">Maximal price</label>
      </div>
      <div class="form-floating me-3">
        <!-- Выборка. С ее помощью можно выбрать критерий поиска – страна-производитель -->
        <select class="form-select" id="country_id" aria-label="country_id" name="country_id">
          <!-- Опция Any представляет любую страну-производителя (пользователь не выбирает конкретную страну-производителя в качестве критерия для поиска машин) -->
          <option th:value="null">Any</option>
          <option th:each="country : ${countries}" th:value="${country.id}" th:text="${country.name + ' / ' + country.code}" th:selected="${chosenCountryId != null && chosenCountryId.equals(country.id)}"></option>
        </select>
        <label for="country_id">Manufacturer</label>
      </div>
      <div class="form-floating me-3">
        <!-- Выборка. С ее помощью можно выбрать критерий поиска – категория машины -->
        <select class="form-select" id="category_id" aria-label="category_id" name="category_id">
          <!-- Опция Any представляет любую категорию (пользователь не выбирает конкретную категорию в качестве критерия для поиска машин) -->
          <option th:value="null">Any</option>
          <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}" th:selected="${chosenCategoryId != null && chosenCategoryId.equals(category.id)}"></option>
        </select>
        <label for="category_id">Category</label>
      </div>
      <button type="submit" class="btn btn-success" style="height: 43.5pt;"><i class="bi bi-search"></i></button>
    </form>
  </div>

  <h2 class="mb-4 ms-2">All Cars</h2>

  <div class="ms-2 me-2">
    <table class="table">
      <thead class="table-warning">
      <tr>
        <th>ID</th>
        <th>Name <span style="color: #434343;">(Brand)</span></th>
        <th>Model</th>
        <th>Year of manufacture</th>
        <th>Price</th>
        <th>View</th>
      </tr>
      </thead>
      <tbody class="table-striped">
      <tr th:each="car : ${cars}">
        <td class="pt-3" th:text="${car.id}"></td>
        <td class="pt-3" th:text="${car.name}"></td>
        <td class="pt-3" th:text="${car.model}"></td>
        <td class="pt-3" th:text="${car.year}"></td>
        <td class="pt-3" th:text="${car.price}"></td>
        <td class="pt-3">
          <!-- Страна-производитель будет отображена в данной ячейке таблицы, если она присутствует (в базе данных в таблице cars в столбце country_id присутствует значение) -->
          <span th:if="${car.country != null}" th:text="${car.country.name + '/' + car.country.code}"></span>
          <!-- Если страна-производитель отсутствует, то в данной ячейке таблицы будет отобраено UNKNOWN -->
          <i th:unless="${car.country != null}" class="text-secondary">UNKNOWN</i>
        </td>
        <td>
          <!-- Ссылка на страницу детального просмотра машины (О ней расскажу чуть позже) -->
          <a class="btn btn-primary" th:href="@{'/cars/get?id=' + ${car.id}}">View</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</html>