<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main.html}">
<div layout:fragment="mainFragment">

  <div class="card px-3 py-3 my-3 ms-2 w-50">

    <h4>Sort cars:</h4>

    <form method="get" class="d-flex" th:action="@{'/cars'}">

      <!-- Выбор параметра сущности (машины), по которому будет осуществляться сортировка -->
      <div class="form-floating me-3">
        <select class="form-select" id="sort_by" aria-label="sort_by" name="sort_by">
          <option value="name" th:selected="${sortBy.equals('name')}">Name</option>
          <option value="year" th:selected="${sortBy.equals('year')}">Year</option>
          <option value="price" th:selected="${sortBy.equals('price')}">Price</option>
        </select>
        <label for="sort_by">Sort by:</label>
      </div>

      <!-- Выбор порядка сортировки: по возрастанию или по убыванию -->
      <div class="form-floating me-3">
        <select class="form-select" id="sort_order" aria-label="sort_order" name="sort_order">
          <option value="ASC" th:selected="${sortOrder.equals('ASC')}">Ascending</option>
          <option value="DESC" th:selected="${sortOrder.equals('DESC')}">Descending</option>
        </select>
        <label for="sort_order">Order:</label>
      </div>

      <!-- Через это поле можно задать размер страницы -->
      <div class="form-floating me-3">
        <input type="text" class="form-control" id="size" name="size" placeholder="size" th:value="${param.size}">
        <label for="size">Page size:</label>
      </div>
      <button type="submit" class="btn btn-success" style="height: 43.5pt;"><i class="bi bi-check"></i></button>
    </form>
  </div>

  <div class="card px-3 py-3 my-3 ms-2">

    <h4>Find cars by:</h4>

    <!-- форма для поиска (фильтра) машин по критериям (параметрам) -->
    <form method="get" class="d-flex" th:action="@{'/cars'}">
      <div class="form-floating me-3">
        <input type="text" class="form-control" id="car_name" name="car_name" placeholder="car_name" th:value="${param.car_name}">
        <label for="car_name">Name (Brand)</label>
      </div>
      <div class="form-floating me-3">
        <input type="number" class="form-control" id="min_year" name="min_year" placeholder="min_year" th:value="${param.min_year}">
        <label for="min_year">Minimal year of manufacture</label>
      </div>
      <div class="form-floating me-3">
        <input type="number" class="form-control" id="max_price" name="max_price" placeholder="max_price" th:value="${param.max_price}">
        <label for="max_price">Maximal price</label>
      </div>
      <div class="form-floating me-3">
        <!-- Выборка. С ее помощью можно выбрать критерий поиска – страна-производитель -->
        <select class="form-select" id="country_id" aria-label="country_id" name="country_id">
          <!-- Опция Any представляет любую страну-производителя (пользователь не выбирает конкретную страну-производителя в качестве критерия для поиска машин) -->
          <option th:value="null">Any</option>
          <option th:each="country : ${countries}" th:value="${country.id}" th:text="${country.name + ' / ' + country.code}" th:selected="${chosenCountryId != null && chosenCountryId.equals(country.id)}"></option>
        </select>
        <label for="country_id">Manufacturer</label>
      </div>
      <div class="form-floating me-3">
        <!-- Выборка. С ее помощью можно выбрать критерий поиска – категория машины -->
        <select class="form-select" id="category_id" aria-label="category_id" name="category_id">
          <!-- Опция Any представляет любую категорию (пользователь не выбирает конкретную категорию в качестве критерия для поиска машин) -->
          <option th:value="null">Any</option>
          <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}" th:selected="${chosenCategoryId != null && chosenCategoryId.equals(category.id)}"></option>
        </select>
        <label for="category_id">Category</label>
      </div>
      <button type="submit" class="btn btn-success" style="height: 43.5pt;"><i class="bi bi-search"></i></button>
    </form>
  </div>

  <h2 class="mb-4 ms-2">All Cars</h2>

  <div class="ms-2 me-2">
    <table class="table">
      <thead class="table-warning">
      <tr>
        <th>ID</th>
        <th>Name <span style="color: #434343;">(Brand)</span></th>
        <th>Model</th>
        <th>Year of manufacture</th>
        <th>Price</th>
        <th>View</th>
      </tr>
      </thead>
      <tbody class="table-striped">
      <tr th:each="car : ${cars}">
        <td class="pt-3" th:text="${car.id}"></td>
        <td class="pt-3" th:text="${car.name}"></td>
        <td class="pt-3" th:text="${car.model}"></td>
        <td class="pt-3" th:text="${car.year}"></td>
        <td class="pt-3" th:text="${car.price}"></td>
        <td class="pt-3">
          <!-- Страна-производитель будет отображена в данной ячейке таблицы, если она присутствует (в базе данных в таблице cars в столбце country_id присутствует значение) -->
          <span th:if="${car.country != null}" th:text="${car.country.name + '/' + car.country.code}"></span>
          <!-- Если страна-производитель отсутствует, то в данной ячейке таблицы будет отобраено UNKNOWN -->
          <i th:unless="${car.country != null}" class="text-secondary">UNKNOWN</i>
        </td>
        <td>
          <!-- Ссылка на страницу детального просмотра машины (О ней расскажу чуть позже) -->
          <a class="btn btn-primary" th:href="@{'/cars/get?id=' + ${car.id}}">View</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <nav aria-label="Pagination navigation" class="mt-4">
    <ul class="pagination justify-content-center">

      <!-- Переход на предыдущую страницу -->
      <!-- Будет заблокирована возможность перейти на предыдущую страницу, если открыта первая страница. (Не забываем о том, что нумерация страниц начинается с нуля) -->
      <li th:class="${currentPage == 0 ? 'page-item disabled' : 'page-item'}">
        <!-- Данная ссылка (кнопка) будет загружать предыдущую страницу -->
        <a class="page-link" th:href="@{'/cars?page=' + ${currentPage - 1} + '&size=' + ${pageSize}}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>

      <!-- Горизонтальный список всех страниц -->
      <li th:each="pageNumber : ${pageNumbers}" class="page-item">
        <!-- Будет загружена та страница, на номер которой Вы нажмете -->
        <!-- Текущая страница будет выделена -->
        <a th:class="${pageNumber == currentPage ? 'page-link active' : 'page-link'}" th:href="@{'/cars?page=' + ${pageNumber} + '&size=' + ${pageSize}}" th:text="${pageNumber + 1}"></a>
      </li>

      <!-- Переход на следующую страницу -->
      <!-- Будет заблокирована возможность перейти на следующую страницу, если открыта последняя страница. (Последняя страница имеет номер N-1) -->
      <li th:class="${currentPage == totalPages - 1 ? 'page-item disabled' : 'page-item'}">
        <!-- Данная ссылка (кнопка) будет загружать следующую страницу -->
        <a class="page-link" th:href="@{'/cars?page=' + ${currentPage + 1} + '&size=' + ${pageSize}}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
</html>